In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../data/concat_1.csv')
df2 = pd.read_csv('../data/concat_2.csv')
df3 = pd.read_csv('../data/concat_3.csv')

In [5]:
df3

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [10]:
row_concat = pd.concat([df1, df2, df3])

In [11]:
row_concat

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [12]:
row_concat.loc[0]

    A   B   C   D
0  a0  b0  c0  d0
0  a4  b4  c4  d4
0  a8  b8  c8  d8

In [13]:
row_concat.iloc[0]

A    a0
B    b0
C    c0
D    d0
Name: 0, dtype: object

In [14]:
row_concat = pd.concat([df1, df2, df3], ignore_index=True)

In [16]:
row_concat

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [18]:
new_series = pd.Series(['n1', 'n2', 'n3', 'n4'])
new_series

0    n1
1    n2
2    n3
3    n4
dtype: object

In [19]:
pd.concat([df1, new_series])

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [23]:
new_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']],
                      columns=['A', 'C', 'B', 'D'])
new_df

    A   C   B   D
0  n1  n2  n3  n4

In [24]:
pd.concat([df1, new_df])

C:\Users\Danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n3  n2  n4

In [26]:
c = pd.concat([df1, df2, df3], axis='columns')

In [28]:
c['A']

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [29]:
c.columns

Index(['A', 'B', 'C', 'D', 'A', 'B', 'C', 'D', 'A', 'B', 'C', 'D'], dtype='object')

In [30]:
new_col_names = ['A', 'B', 'C', 'D', 'A2', 'B', 'C', 'D', 'A3', 'B', 'C', 'D']

In [31]:
c.columns = new_col_names

In [32]:
c

    A   B   C   D  A2   B   C   D   A3    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [33]:
c = pd.concat([df1, df2, df3], axis='columns', ignore_index=True)

In [34]:
c

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [36]:
df1 = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [10, 10, 20, 20]
})
df2 = pd.DataFrame({
    'A2': [1, 2, 3, 4],
    'B2': [10, 10, 20, 20]
})
df1

   A   B
0  1  10
1  2  10
2  3  20
3  4  20

In [37]:
df2

   A2  B2
0   1  10
1   2  10
2   3  20
3   4  20

In [38]:
merged = df1.merge(df2, left_on='B', right_on='B2')
merged

   A   B  A2  B2
0  1  10   1  10
1  1  10   2  10
2  2  10   1  10
3  2  10   2  10
4  3  20   3  20
5  3  20   4  20
6  4  20   3  20
7  4  20   4  20

In [39]:
assert True

In [42]:
assert False, 'something went wrong'

AssertionError: something went wrong

In [46]:
nrow1 = df1.shape[0]

In [47]:
nrow2 = df2.shape[0]

In [49]:
assert merged.shape[0] == nrow1

AssertionError:

In [54]:
assert ~df1['B'].duplicated().any()

AssertionError: